nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1em;
  padding: 0.6em 30px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 30px rgba(188, 0, 0, 0.3);
}

nav h2 {
  color: #e7c27d;
  text-shadow: 2px 4px 3px rgba(86, 0, 0, 0.6), 0 0 15px rgba(86, 0, 0, 0.6);
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 2em;
}

nav ul li {
  padding: 0.6em 1em;
  border-radius: 10px;
}

nav ul li.active {
  background: #560000;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
