@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #0a0a0a;
  color: #fff;
  box-shadow: inset 0 0 150px rgba(86, 0, 0, 0.9);
  font-family: "Roboto", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

button {
  background: #560000;
  color: #e7c27d;
  padding: 1em 2em;
  border-radius: 10px;
  border: 2px solid #e7c27d;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:active {
  transform: scale(0.9);
}

canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 999;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: figure 5s forwards;
}

@keyframes figure {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 850px) and (orientation: portrait) {
  html,
  body {
    font-size: 120%;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  html,
  body {
    font-size: 82%;
  }

  figure {
    width: 85vw;
    height: 85vw;
  }
}
