.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}

.main-content h1 {
  color: #e7c27d;
  text-shadow: 2px 4px 3px rgba(188, 0, 0, 0.6), 0 0 15px rgba(188, 0, 0, 0.6);
}

.form-wraper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form-wraper .form-group {
  position: relative;
  display: flex;
  width: 100%;
}

.form-wraper #error-msg {
  color: red;
  margin-left: 15%;
  font-size: 0.9rem;
  margin-top: 5px;
  min-height: 15px;
}

.form-wraper .form-group .sl {
  background: #560000;
  color: #e7c27d;
  border-bottom: 2px solid #e7c27d;
  border-left: 2px solid #e7c27d;
  border-top: 2px solid #e7c27d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 1em;
}

.form-wraper .form-group .sl .left-screw,
.form-wraper .form-group .sl .right-screw {
  display: inline-block;
  width: 20px;
  height: 8px;
  background: #e7c27d;
}

.form-wraper .form-group .sl .left-screw {
  clip-path: polygon(
    0% 20%,
    25% 20%,
    25% 0%,
    35% 0%,
    35% 40%,
    100% 40%,
    100% 60%,
    35% 60%,
    35% 100%,
    25% 100%,
    25% 80%,
    0% 80%
  );
}

.form-wraper .form-group .sl .right-screw {
  clip-path: polygon(
    0% 40%,
    65% 40%,
    65% 0%,
    75% 0%,
    75% 20%,
    100% 20%,
    100% 80%,
    75% 80%,
    75% 100%,
    65% 100%,
    65% 60%,
    0% 60%
  );
}

.form-wraper .form-group input {
  border-top: 2px solid #e7c27d;
  border-right: 2px solid #e7c27d;
  border-bottom: 2px solid #e7c27d;
  background: transparent;
  color: #fff;
  padding: 1em 1.2em;
  display: block;
  width: 100%;
  outline: none;
  border-left: none;
  font-size: 1.2rem;
}

.form-wraper .form-group input:focus ~ label,
.form-wraper .form-group input:not(:placeholder-shown) ~ label {
  top: 5%;
  left: 16%;
  font-size: 1rem;
  height: 25px;
  color: #e7c27d;
}

.form-wraper .form-group label {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  background: #0a0a0a;
  padding: 0 0.5em;
  color: #909090;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #1a1a1a;
  padding: 2rem;
  border: 10px #e7c27d;
  border-style: groove;
  border-radius: 15px;
  text-align: center;
  position: relative;
  width: 500px;
  box-shadow: 0 0 150px rgba(86, 0, 0, 0.9);
  animation: modalZoom 1s ease-out forwards;
}

@keyframes modalZoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
  color: #e7c27d;
}

.result-box {
  background: #000;
  border: 5px double #e7c27d;
  padding: 15px;
  margin: 20px 0;
  font-size: 1.5rem;
  color: #fff;
}

.modal h3 {
  color: #e7c27d;
  margin-bottom: 10px;
}
